<label for="Name">Full Name</label>
<input type="text" name="Name" value="">
<br>

<label for="email">Email</label>
<input type="text" name="email" value="">
<br>

<label for="phoneNumber">PhoneNumber</label>
<input type="text" name="phoneNumber" value="">
<br>

<label for="twitterUsername">Twitter Username</label>
<input type="text" name="twitterUsername" value="">
<br>

<label for="linkedinUsername">Linkedin Username</label>
<input type="text" name="linkedinUsername" value="">
<br>


<input type="submit" value="Create Contact" class="submit-btn">
