<div class="form-div">
  <h1>Add to Your Contact List </h1>
<label for="name">Full Name:</label>
<input class="input-box" type="text" name="name" value="">
<br>

<label for="email">Email:</label>
<input class="input-box" type="text" name="email" value="">
<br>

<label for="phoneNumber">PhoneNumber:</label>
<input class="input-box" type="text" name="phoneNumber" value="">
<br>

<label for="twitterUsername">Twitter Username:</label>
<input class="input-box" type="text" name="twitterUsername" value="">
<br>

<label for="linkedinUsername">Linkedin Username:</label>
<input class="input-box" type="text" name="linkedinUsername" value="">
<br>
</div>

<input type="submit" value="Create Contact" class="submit-btn">
